{% load static %}
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
                <a class="btn btn-link" href="about.html">About Us</a>
                <a class="btn btn-link" href="contact.html">Contact Us</a>
                <a class="btn btn-link" href="booking.html">Reservation</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
            </div>
            {% for i in contact %}
            <div class="col-lg-3 col-md-6">
                <div class="contact-info">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{ i.address }}</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ i.phone }}</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{ i.email }}</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="{{ i.instagram }}"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{{ i.facebook }}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{{ i.youtube }}"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{{ i.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="opening-info">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                    <h5 class="text-light fw-normal">{{ i.opening_day }}</h5>
                    <p>{{ i.opening_time }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="newsletter-info">
                    <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                    <p>{{ i.Newsletter }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="copyright">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">hsn.ops</a>, All Right Reserved.
                Designed By <a class="border-bottom" href="https://github.com/Pybackender">HTML Codex</a>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="footer-menu">
                    <a href="index.html">Home</a>
                    <a href="">Cookies</a>
                    <a href="contact.html">Help</a>
                    <a href="">FQAs</a>
                </div>
            </div>
        </div>
    </div>
</div>
