{% load static %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Most Popular Items</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                {% for j in menu2 %}
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 {% if forloop.first %}active{% endif %}"
                        data-bs-toggle="pill" href="#tab-{{ forloop.counter }}">
                        <i class="{{ j.icon }}"></i>
                        <div class="ps-3">
                            <small class="text-body">{{ j.title }}</small>
                            <h6 class="mt-n1 mb-0">{{ j.title }}</h6>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for j in menu2 %}
                <div id="tab-{{ forloop.counter }}"
                    class="tab-pane fade {% if forloop.first %}show active{% endif %} p-0">
                    <div class="row g-4">
                        {% for i in menu %}
                        {% if i.category == j %}
                        <div class="col-lg-6 col-md-6">
                            <div class="d-flex align-items-center mb-4">
                                <img class="flex-shrink-0 img-fluid rounded"
                                    src="{% if i.image %}{{ i.image.url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}"
                                    alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{ i.name }}</span>
                                        <span class="text-primary">${{ i.price }}</span>
                                    </h5>
                                    <small class="fst-italic">{{ i.content }}</small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>